/* PROFILE PAGE */
#addSongBtn {
    color: white;
    font-weight: 400;
    font-size: 24px;
}
.avatar {
    border-radius: 50%;
    max-height: 100px;
}
.main {
    background: #ffffff;
    z-index: 3;
}
.main-raised {
    margin: -60px 30px 0px;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.nav-pills .nav-item .nav-link {
    line-height: 30px;
    font-size: 24px;
    font-weight: 600;
    min-width: 100px;
    transition: all 0.6s;
    border-radius: 30px;
    padding: 10px 15px;
    text-align: center;
}
.page-header {
    height: 30vh;
    background-size: cover;
}
.profile p {
    color: rgb(82, 82, 82)
}
.profile-page .profile img {
    max-width: 160px;
    width: 100%;
    -webkit-transform: translate3d(0, -50%, 0);
    -moz-transform: translate3d(0, -50%, 0);
    -o-transform: translate3d(0, -50%, 0);
    -ms-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}
/* HEADER */
.navbar {
    margin-bottom: 40px;
}
.navbar .navbar-brand, .nav-link {
    height: 50px;
    line-height: 30px;
    padding: .625rem 0;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}
.navbar.navbar-transparent {
    z-index: 1030;
    background-color: transparent!important;
    box-shadow: none !important;
    color: #fff;
}
/* HOME PAGE */
.card {
    margin: 5px 0px;
    border: none;
    font-size: .90rem;
}
.card-header button {
    margin: 0;
    text-align: center !important;
    color: white;
    font-size: 72px;
    font-weight: 600;
    background-color: rgba(14, 18, 43, 0.8) !important;
}

.card-header button:hover {
    color: yellow !important;

}
iframe {
    width: 100% 
}
.upvotes {
    color: green;
}
.header {
    min-height: 85px;
    height: 150px;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    margin: 20px 0px 7px 7px;
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* HEADING BACKGROUND IMAGES */
#headingWorkout{
    background-image: url("https://images.pexels.com/photos/38630/bodybuilder-weight-training-stress-38630.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}
#headingChill {
    background-image: url("https://images.pexels.com/photos/92870/pexels-photo-92870.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}
#headingHouseParty {
    background-image: url("https://images.pexels.com/photos/1481276/pexels-photo-1481276.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}
#headingLateNightDrive {
    background-image: url("https://images.pexels.com/photos/1075947/pexels-photo-1075947.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
#headingClubbing {
    background-image: url("https://djmag.com/sites/default/files/styles/djmag_landscape__691x372_/public/top100/clubs/image/MAD%20Club%202.jpg?itok=o4NwHsMC");
}
#headingRoadTrip {
    background-image: url("https://d2rormqr1qwzpz.cloudfront.net/photos/2013/01/15/43962-highway.jpg");
}

#headingStudy {
    background-image: url("https://static01.nyt.com/images/2019/12/17/books/review/17fatbooks/17fatbooks-superJumbo.jpg");
}

#headingHeartbreak {
    background-image: url("https://images.pexels.com/photos/127027/pexels-photo-127027.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

#headingSummerVibes {
    background-image: url("https://images.pexels.com/photos/1118448/pexels-photo-1118448.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}





/* LOGIN AND SIGN UP PAGES */
.login-form {
    width: 340px;
    margin: 50px auto;
  	font-size: 15px;
}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
form p {
    color: darkgray;
}

